{% if latest_breaches_list %}
    <ul>
    {% for breach in latest_breaches_list %}
        <li><a href="/map_breaches/{{ breach.breach_id }}/">{{ breach.name_of_covered_entity }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No breachybois are available.</p>
{% endif %}
{% if all_breaches %}
    <ul>
    {% for breach in all_breaches %}
        <li><a href="/map_breaches/{{ breach.breach_id }}/">{{ breach.name_of_covered_entity }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No breachybois are available.</p>
{% endif %}
